.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.post-item {
  border: 1px solid #ddd;
  padding: 16px;
  cursor: pointer;
  width: calc(25% - 16px);
  min-width: 43vh;
  box-sizing: border-box;
}

.post-item:hover {
  background-color: #5061c5;
}
